<section class="py-4 px-3">
    <h1 class="text-blue-500 text-center text-3xl font-medium py-3">Create An Account</h1>
    <div class=" grid md:grid-cols-2  items-center">
        <div class="w-[80%] mx-auto">
            <form [formGroup]="register" (ngSubmit)="submitRegister()">
                <div class="mb-3">
                    @let nameControl = register.get('name');
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <div class="relative">
                        <i class="fa-regular fa-user  absolute text-blue-600 left-2 top-3 animate-bounce-up-down"></i>
                        <input formControlName="name" type="text" id="name" placeholder="Mohamed Diab"
                            class=" placeholder:text-gray-600 bg-gray-50 border ps-7 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                    </div>
                    @if (nameControl?.errors && nameControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (nameControl?.getError('required')) {
                                <li> Name is required.</li>
                                }
                                @else if (nameControl?.getError('minlength')) {
                                <li> Name must be exactly 3 characters.</li>
                                }
                                @else if (nameControl?.getError('maxlength')) {
                                <li> Name cannot be more than 20 characters long.</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>

                <div class="mb-3">
                    @let emailControl = register.get('email');

                    <label for="email"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <div class="relative">
                        <i
                            class="fa-regular fa-envelope absolute text-blue-600 left-2 top-3 animate-bounce-up-down"></i>
                        <input formControlName="email" type="email" id="email" placeholder="mohamed@gmail.com"
                            class="placeholder:text-gray-600 bg-gray-50 border ps-7 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>


                    @if (emailControl?.errors && emailControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (emailControl?.getError('required')) {
                                <li>Email is required.</li>
                                }
                                @else if (emailControl?.getError('email')) {
                                <li>Please enter a valid email address.</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>

                <div class="mb-3">
                    @let passwordControl = register.get('password');

                    <label for="password"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <div class="relative">
                        <i class="fa-solid fa-lock absolute text-blue-600 left-2 top-3  animate-bounce-up-down"></i>
                        <input formControlName="password" type="password" id="password" placeholder="*******"
                            class="placeholder:text-gray-600 bg-gray-50 border ps-7  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    @if (passwordControl?.errors && passwordControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (passwordControl?.getError('required')) {
                                <li>password is required.</li>
                                }
                                @else if (passwordControl?.getError('pattern')) {
                                <li>Password must start with an uppercase letter and be at least 8 characters long.</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
                <button type="submit" class="btn-main block mx-auto">Register</button>
            </form>
        </div>
        <div class="slider">


            <owl-carousel-o [options]="registerSlider">

                @for (i of imgs; track $index) {
                <ng-template carouselSlide>
                    <img class="w-full h-[500px]" [src]="i" alt="">
                </ng-template>
                }


            </owl-carousel-o>

        </div>
    </div>

</section>